.filters-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.filters {
    display: inline-flex;
    background: #eee;
    padding: 0.5rem;
    border-radius: 50px;
    gap: 0.5rem;
}

.filter-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    color: #777;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    color: var(--color-text);
}

.filter-btn.active {
    background: #fff;
    color: var(--color-text);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}